{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<div id="navbar" class="mx-auto my-[1%] bg-[#030d03] min-h-[3.25rem] rounded-[15px] pl-3.5%">
    <a href="/">SVU</a>
    <a href="/">HOME</a>
    <a href="#">WIKI</a>
    <a href="#">DONATE</a>
    <a href="#">CHAT</a>
    <a href="/signup">SIGN-UP</a>
    <a href="#">FAQ</a>
</div>

</body>
</html>

<!-- position-sticky -->
