#navdiv{
    border: 0.28rem solid;
    border-color:rgba(98,43,92,100);
    border-image-slice: 1;
    box-shadow: 0px 0px 10px 2px rgba(247, 190, 200, 0.1),
                1px 2px 50px 0.5px rgba(247, 190, 200, 0.15)
/* x-offset y-offset blur-radius spread-radius
spread-radius responsible for  */
}

#navbar{
    /* overflow: hidden; */
}
#navbar a{
    display: block;
    float: left;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 3.25%;
    padding-right: 2%;
}

#navbar a:hover{
   background-color: #303631; 
}

#navbar a:nth-child(1){
    border-top-left-radius: ;
    border-bottom-left-radius:;
    padding-left: 3.5%;
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes flash {
        50% { opacity: 0; }
    }

    @keyframes reveal {
        from { max-width: 2em; } /* Width of ::before */
        to { max-width: 100%; }
    }

#runner::before { 
    content: "$ ";
}

#runner { 
    overflow: hidden;
    white-space: nowrap;
    animation: reveal 4s linear;
    text-overflow: "█";
    font-size: 1.3rem;
}

#runner::after {
    content: "█";
    animation: flash 0.5s step-end infinite;
    position: relative;
    top: -2px;
    margin-left: 3px;
}

#main-content{
    border: 0.28rem solid;
    border-color: rgba(98,43,92,100);
    box-shadow: -1px -0.8px 10px 0.3px rgba(149, 255, 119, 0.1),
                0.3px 1.1px 1px -0.3px rgba(149, 255, 119, 0.15);       
}

#active-users{
    border: 0.28rem solid;
    border-color:rgb(98,43,92);
    box-shadow: -1px -0.8px 10px 0.3px rgba(229,228,226, 0.1),
                0.3px 1.1px 1px -0.3px rgba(229,228,226, 0.15);	
}

#about_us {
    display: inline-block;
    border: 0.28rem solid;
    border-color:rgb(98,43,92);
    width: 35%; /* Narrow width */
    height: 500px; /* Long height */
    padding: 10px;
    margin-top:13px;
    }

#how-to {
    display: inline-block;
    border: 0.28rem solid;
    border-color:rgb(98,43,92);
    width: 530px; /* Narrow width */
    float: right;
    height: 360px;
    padding: 10px;

    margin-top:13px;
    overflow-y: auto; /* Adds scroll if text overflows */
    }

#how-to ul {
  list-style-type: disc;
  margin-left: 20px;
}
#how-to ul.custom li::before {
  content: "•";
  margin-right: 8px;
}

#services { 
    width: 300px;
    height: 100px;
    padding: 10px;
}

#services a:hover { 
    color: red; 
}

#username, #email, #why, #sshkey{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 0.1rem solid black;
    box-shadow: -1px -0.8px 10px 0.3px rgba(229,228,226, 0.15),
                0.3px 1.1px 1px -0.3px rgba(229,228,226, 0.3);    

                /* #00F5D4 */ /* rgba(0, 245, 212, 1) */
                /* #00E4E4 */ /* rgba(0, 228, 228, 1) */
                /* #00CCFF */ /* rgba(0, 204, 255, 1) */
                /* #56F1FF */ /* rgba(86, 241, 255, 1) */
                /* #E5E4E2 */ /* rgba(229,228,226, 1    ) */
    color: rgba(149, 255, 119, 0.9);

} 

#submit-btn{
    cursor: pointer;
    width: 7rem;
    padding: 0.6rem;
    border: 0.1rem solid black;
    box-shadow: -1px -0.8px 1px 1px rgba(229,228,226, 0.2),
                0.3px 1.1px 1px 1px rgba(229,228,226, 0.2);

}

#submit-btn:hover{
    animation: submitanimation 1s forwards;
    
}

@keyframes submitanimation {
    from {
        background-color: #020202 ;
    }

    to {
        background-color: rgba(105,105,105, 0.3);
    }
}

