{% extends "base.html" %}
{% load static %}


{% block title %}SVU{% endblock %}
{% block runner %}<h1 id="runner">Beyond Enlightenment Rationality: Islamic Epistemologies</h1> {% endblock %} 

{% block main-content %}

<p>
Acclaimed in Western historical discourse as a transformative ‘age of reason’, it is often taken for granted that the European Enlightenment marks the axis of all human progress. Its conception of rationality is revered not only by science and philosophy but also ethics and politics, where it continues to buttress the axioms of secular modernity. Even in the postmodern milieu where many of such axioms are subjected to scrutiny, the empiricism and scientism engendered by the Enlightenment continue to guard the criteria for a viable worldview, being deemed as the most ‘objective’ measurements of truth.
</p>
<br>

<p>
And yet, such an assumption fails to be truly objective in its inherent chronocentricism and Eurocentricism. The legacy of the Enlightenment — that is, the cultural monomania with demonstrable ‘proof’ as the sole justification of knowledge — is one that excludes the epistemologies of belief systems outside of the modern West; particularly, those systems which incorporate immaterial modes of perception in their scientific and philosophical pursuits. As the political scientist Rajani Kannepalli Kanth puts in his compelling refutation against Enlightenment modernity:
</p>
<br>

<blockquote>
<p>The arrogance with which European science condemned alternative epistemologies to perdition in trying to secure for itself a sole monopoly of the means to social knowledge’ (Kanth 2005, 37).</p>
</blockquote>
<br>

<p>
Expanding on this, the British-Czech Philosopher Ernest Gellner describes how the supremacy of Enlightenment thought disguises itself with ‘hermeneutic egalitarianism’, under which all cultures are perceived to be capable of attaining objective truth, but only on the condition that they employ the ‘correct’ methods and ultimately ‘foreswear the seduction of cultural indoctrination’ (Gellner 1992, 37). Though himself a defender of Enlightenment rationalism, he identifies that:
</p>
<br>

<blockquote>
<p>The hermeneutic relativists do not really treat all cultural visions as equally valid. Their accounts of alien systems of meanings as they present them are still, deeply and inevitably, located within a natural milieu convinced in terms of current Western science’ (Gellner 1992, 85).</p>
</blockquote>
<br>

<p>
Thus, behind its thin veneer of hermeneutic egalitarianism, the default designation of Enlightenment rationality constitutes a form of epistemological supremacy. Not only does this perpetuate the cultural hegemonies of colonialism, but it also suppresses the exploration of non-empirically demonstrable phenomena within Western cultures. As a result, our perceptions of the world tend to be cold and mechanical; faith and belief are, at best, coerced into becoming secularised systems palatable for the profaned perspective, and, at worst, exiled from intellectual discourse altogether. This both feeds an environment of disenchantment, and places limits on scientific pursuits that dare to go beyond the material realm. Rupert Sheldrake is perhaps the most renowned thinker to address the dogmatic nature of modern science in this regard:
</p>
<br>

<blockquote>
<p>The materialist philosophy achieved its dominance within institutional science in the second half of the nineteenth century, and was closely linked to the rise of atheism in Europe. Twenty-first-century atheists, like their predecessors, take the doctrines of materialism to be established scientific facts, not just assumptions’ (Sheldrake 2012, 22).</p>
</blockquote>
<br>

<p>
It would, of course, be inaccurate to suggest that the limitations of Enlightenment materialism have not been internally addressed within Western culture itself. Indeed, Romantic thinkers such as Blake and Hölderlin were well aware of the dangers of denouncing intuition and imagination as valid modes of knowledge in the face of the so-called ‘age of reason’. These contributions should not be ignored within the present critique (which, it should also be disclaimed, by no means intends to devalue the achievements of the Western academy wholesale). However, where the dialectic of cultural hegemony is concerned, it is worth exploring how non-Western philosophies have systematised conceptions of ‘rationality’ that transcend the limitations imposed by the Enlightenment.
</p>
<br>

<p>
Though by no means the only one, the Islamic intellectual tradition offers an abundance of philosophical literature pertaining to epistemologies that extend beyond the materialistic worldview. In these theories of knowledge, the apprehensions of the intellect are not limited to empirical sense-data, but can go beyond and grasp immaterial concepts directly. In many of such theories, intuitive and imaginative faculties are not dismissed as ‘irrational’ but as in fact possessing the capacity to perceive eternal truths. The sense organs and material intellect that take centre stage in Enlightenment rationality, on the other hand, are deemed inferior in that their knowledge cannot go beyond that of the fallible physical world — in Islam, the dunyā.
</p>
<br>

<p>
Such arguments are often, however, defended through the invocation of demonstrable logical principles — in some respects, sharing something in common with the diligence of the scientific method — to arrive at a multi-dimensional epistemology that takes into account multiple modes of knowledge corresponding to their appropriate objects and purposes. It could be said, of the early Islamic Philosophers at least, that their combined approach of invoking both formal logic and spiritual intuition is reflective of their historical context, whereby the influence of Ancient Greek intellectual rigour was concurrent with religious inspiration.
</p>
<br>

<p>
Al- Kindi — the ‘Father of Islamic Philosophy’ of 9th Century Baghdad — wrote his philosophical corpus at the apex of this intellectual confluence, synthesising Neoplatonic and Aristotelian logic with Qur’anic theology. He was, unsurprisingly, one of the first to develop a multi-dimensional framework of knowledge that remained faithful not only to the logical percepts of Aristotle’s Organon but also to the religious truths innately present within the human soul; an important concept in Islamic theology known as The Fitra. For Al-Kindi, it is possible to comprehend both material and non-material phenomena, but through the invocation of different modes of knowledge which quadrate with their respective natures. In his foundational treatise On First Philosophy, he writes:
</p>
<br>

<blockquote>
<p>One ought not to seek demonstrative perception when trying to grasp just any object of study. For not every object of intellectual study is perceived through demonstration, because not everything has a demonstration: only some things have a demonstration…we must pursue what is necessary for each thing that we study’ (Trans. Adamson & Pormann 2012, 17–18).</p>
</blockquote>
<br>

<p>
Here, Al-Kindi paves the way towards a multi-dimensional epistemology which designates different modes of perception for different objects of perception. While Enlightenment rationality denounces the existence of immaterial phenomena on the basis that they cannot be perceived through material means, Al-Kindi’s approach defends the reality of immaterial phenomena by suggesting that there exists a separate immaterial perception through which they can be grasped.
</p>
<br>

<p>
This principle can be traced to the Qur’anic notion there are two dimensions of existence: the World of The Seen (‘alam al-shahadat) and the World of The Unseen (‘alam al-ghayb). In scripture, these two modes of reality are presented as possessing their own own unique modes of apprehension. While the World of The Seen can be witnessed and measured through the material sense organs and material intellect, the World of The Unseen can only be realised through subtle modes of perception cultivated through spiritual activity such as prayer, as implied in Surah al-Baqarah:
</p>
<br>

<blockquote>
<p>Who believe in the unseen, establish prayer, and spend out of what We have provided for them’ (Qur’an 2:3).</p>
</blockquote>
<br>

<p>
In Islamic mystical theology, the performance of prayer is an act of spiritual purification that ‘polishes the mirror’ of the soul, allowing the individual to receive God’s light and subsequently the apprehension of Divine nature and attributes. This process rekindles the human Fitra — the innate awareness of God implanted in every human heart — increasing not knowledge of the apparent physical world but of the metaphysical ‘alam al-ghayb. Following this, it can be understood that the Qur’anic expression ‘Lord, increase my knowledge’, pertains to this type of knowledge; a type of knowledge that is Divine, and is thus of a more eternal and objectively real quality than that of the material world.
</p>
<br>

<p>
In the centuries of the Islamic Golden Age following Al-Kindi, this concept was systematised further, most famously by the 9th and 10th Century Persian polymaths Al-Farabi and Ibn Sina. Also drawing on Aristotelian logic, both thinkers established various gradations of intellection corresponding to different objects of perception. For Ibn Sina (who’s theory of knowledge was grounded in Al-Farabi’s), there exists a purely practical type of intellect, which processes empirical sense data relating to the body’s material organs, and a theoretical Intellect, which in turn has four subdivisions: potential, habitual, actual and acquired. These represent the four degrees of intellectual apprehension (idrāk); the type of apprehension that pertains to invisible and eternal knowledge arising from the immaterial soul. This intellectual apprehension has exclusive access to The Active Intellect: an external faculty of knowledge that is unreliant on the fallible senses.
</p>
<br>

<p>
Al-Farabi and Ibn Sina’s conception of the Active Intellect, then, offers a mode of knowledge that is actually superior to empirical sense-perception, being unadulterated by the contingent material world which can distort the representation of eternal truths. Though empiricism has its place, its usage without the corroboration of higher forms of knowledge is flawed, because the material constitution of the sense organs is subject to generation and corruption thus making them ultimately unstable. The Theoretical Intellect, on the other hand, can directly perceive immaterial forms through conjunction (ittisāl) with the pure Active Intellect. At this point, the subject can ‘dispense with the syllogistic process of reasoning altogether’ and ‘apprehend universals directly through intuition’ (Fakhry: 2000: 53).
</p>
<br>

<p>
Developing this theory further was the Persian theologian Al-Ghazali of the 11th Century, who continued to defend the existence of immaterial intellects from a perspective informed by his mysticism. As a devout Sufi, Al-Ghazali differed from al-Kindi, Al-Farabi and Ibn Sina in his deliberate departure from Greek sources, in the hopes of arriving at what he believed to be a more refined Islamic theory of knowledge. As a result, he turns more to his own piety than he does to Peripatetic logic, with his treatise Deliverance From Error providing a personal account of a contemplative form of epistemology: the epistemology of the heart.
</p>
<br>

<p>
Like Ibn Sina and Al-Farabi, Al-Ghazali argues for the unreliability of empirical sense data, giving an example of how human sight — despite being one of the ‘strongest’ of the senses — perceives a star bigger than the earth to be ‘the size of a dinar’ (Trans. McCarthy 1980, 56). He then proceeds to posit that rational intellection based on empiricism is equally subject to deception, because it still relies on initial sense-data obtained through fallible material means. After providing several examples of this, he concludes that primary truths cannot be obtained through the senses, but through the heart’s direct experience of God. True perception, Al-Ghazali says,
</p>
<br>

<blockquote>
<p>Is not gleamed through constructing a proof or putting together an argument, but by effect of a light which God Most High cast into my heart. And that light is the key to most knowledge’ (Trans. McCarthy 1980, 57*).</p>
</blockquote>
<br>

<p>
He describes the ascertainment of this knowledge as ‘withdrawal from the mansion of delusion and turning to the mansion of immortality’ (Ibid., 58), suggesting that this is the apex of intellectual maturity. In contrast, he states that intellection limited to mere discernment of empirical sense data is common of children no older than the age of seven. After this, they should be able to go beyond and perceive ‘the necessary, the possible, the impossible and things not found in previous stages’ (Ibid., 83). Deducing this statement of Al-Ghazali’s, then, it could be said that the reliance on empiricism that is typical of Enlightenment thought is in fact characteristic of a child’s brain, for it fails to take into account modes of perception that are refined enough to comprehend subtleties.
</p>
<br>

<p>
Al- Ghazali also states that once the individual has completely transcended the material intellect, they arrive at a point where ‘another eye is opened, by which [they] see the hidden’ (Ibid., 83), once again alluding to the Qur’anic concept of the Unseen World (‘alam al-ghayb). Furthermore, the knowledge of this unseen world is alluded to in great depth by the 12th Century Andalusian mystic Ibn ‘Arabi, ‘The Greatest of Sheikhs’. For Ibn ‘Arabi — who, like Al-Ghazali, prioritises the mystical experience over Greek logic when it comes to obtaining truth — there is no knowledge higher than that of direct contact with God. This direct contact constitutes a form of knowledge by presence (al-ʻilm al-hudūrī) or immediate apprehension (irfān), the latter term being one that Ibn ‘Arabi uses himself.
</p>
<br>

<p>
Ibn ‘Arabi also delineates the various types of knowledge. The first, intellectual knowledge (‘ilm al-’aql), is that which is acquired either directly through the senses or through logic supported by demonstration of proof. The second, the awareness of inner states of mind, is of a more subtle quality than the former, pertaining to things one can only ‘taste’ such as sweetness of honey; sensations which do not require proof to affirm that they have occurred. The third and final form of knowledge is that of the unseen (‘Ilm al-asrār; semantically similar to the ‘alam al-ghayb), which he describes in similar terms to Al-Ghazali:
</p>
<br>

<blockquote>
<p>A transcendent form of intellectually knowing; the form of knowing by emanation from the holy spirit into the mind’ (Trans. Yezdi 1992, 173).</p>
</blockquote>
<br>

<p>
This, in turn, can be acquired through conjunction with the Active Intellect as Ibn Sina previously theorised, but it can also be acquired through another kind of ‘taste’; that is, sensing directly through the mystical experience. Ismail Hakki Bursevi, commentating on Ibn ‘Arabi’s treatise The Bezels of Wisdom, describes this latter kind of pure mystical state as one whereby:
</p>
<br>

<blockquote>
<p>We are with our spirit and our realities, with our meanings and subtleties, with our hearts and mysteries, transcended from the conditioning of the partial beliefs of the nafs (ego) in our being, and are absolute in the totality of the Uniqueness and the witnessing and the sphere of intuition. And we are removed from the knowledges of images of imitation and the necessities of comprehension, of theories and renovating human concepts’ (Bursevi 1986, 90).</p>
</blockquote>
<br>

<p>
Al- Kindi, Al-Farabi, Ibn Sina, Al-Ghazali and Ibn Arabi can perhaps be thought to constitute a spectrum of the various dialectics of Islamic epistemology, ranging from a greater reliance on Greek logic to pure apprehension (irfān) ‘removed from the necessities’ of theories and concepts. All five of their philosophies, however, share the view that empirical and demonstrable proofs cannot always provide the full picture. If anything, a reliance on empiricism can hinder the truth, signifying cognitive underdevelopment in that it fails to recognise the unseen dimension of existence. Additionally, empiricism is inherently epistemologically hubristic in its assertion the human senses can know all there is to know; a hubris that runs the risk of transgressing the Qur’anic dictum ‘only God knows best’ (allahu ‘alam).
</p>
<br>

<p>
It is this wariness of epistemological hubris that is particularly pertinent to the discussion of Enlightenment rationality and the need to transcend it. By electing scientism, materialism and empiricism as the authorities of all knowledge, we subscribe to the bold premise that the human being can attain omniscience through his the perception of the world given to him by his senses alone. As a corollary, we are liable to seeing nature not as a mysterious force beyond ourselves, but as something we can manipulate and ultimately exploit to our own ends. As Kanth has observed, this lack of epistemological humility inherited from the Enlightenment often leads to afflictions within society:
</p>
<br>

<blockquote>
<p>It was the singular contribution of the European to convert this spiritual and religious faith in a supernatural entity into a secular and material religion worshipping far more mundane idols, thereby contributing to the desanctification of reality and its concomitant despiritualization…as a result, the European is free, in many regards, but he is also, and in equal measure, bereft and bereaved: estranged from the roots of his own species-being, and left only with the cold comfort of the commodification of his few, and fast dwindling joys’ (Kanth 2005, 80).</p>
</blockquote>
<br>

<p>
To acknowledge this is not necessarily to undermine the achievements of the Enlightenment, but rather to recognise the need to reevaluate its epistemological and cultural hegemonies. As it has been shown, the application of its so-called universal rationality can only go so far; empiricism can only concern one mode of knowledge, and that mode of knowledge is one that closes its own eyes to that which lies beyond the senses and the material world. As the contemporary Islamic scholar and philosopher Seyyed Hossein Nasr has written in his persuasive work ‘The Need For a Sacred Science’:
</p>
<br>

<blockquote>
<p>[The premises of modern science] immersed in empiricism and rationalism have their nexus severed from any knowledge of a higher order, despite the fact that the findings of modern science, to the extent that they correspond to an aspect of reality, cannot but possess a meaning beyond the phenomenal’ (Nasr 1993, 2).</p>
</blockquote>
<br>

<p>
For Nasr, it is thus imperative that we return to a more holistic system of knowledge which encompasses both the physical and the metaphysical. All the while the two are divorced, scientific enquiry remains limited and confined to the European Enlightenment’s rejection of immaterial, sacred realms:
</p>
<br>

<blockquote>
<p>[In traditional science] the profane and purely human remain always marginal and the sacred central, whereas in modern science the profane become central and certain intuitions and discoveries which despite everything reveal the Divine Origins of the natural world have become so peripheral that they are hardly ever recognised for what they are, despite the exceptional views of certain scientists…modern science shares fully the characteristic of modern man as a creature who has lost the sense of the sacred’ (Ibid., 96–7).</p>
</blockquote>
<br>

<p>
This review of classical Islamic sources on epistemology hopes to have illuminated how modes of perception pertaining to The Unseen (al-ghayb) deserve to be taken seriously in intellectual discourse. The scholars discussed — and indeed there are many more, from both within the Islamic tradition and outside of it — provide insights into knowledge that may not be demonstrable, but nonetheless enables a deeper understanding of the nature of existence, as any philosophical (and indeed, scientific) enquiry should. After all, returning to Al-Kindi’s statement in On First Philosophy, while some things can be proved through demonstration, others cannot. If consideration of phenomena within the latter category does not qualify as a legitimate form of knowledge, then the institution of knowledge must reconsider its biases towards a Eurocentric, chronocentric paradigm.
</p>
<br>

<p><i>Esmé L. K. Partridge</i></p>
{% endblock %} 


