{% extends "base.html" %}
{% load static %}


{% block title %}SVU{% endblock %}
{% block runner %}<h1 id="runner">How to use Stump</h1> {% endblock %} 

{% block main-content %}

<p>
Stump is essentially a digital book server with OPDS support that lets you browse comics, manga or almost any book in pdf or epub format. The Stump instance in SVU has a library called "Sanctum" that contains literature of various kinds. Although we can also serve books in Jellyfin, I think Stump is extremely convienient because of OPDS support. 
</p>
<br>

<p>
So the first thing you need to access Stump is an account which you contact me for. Once this is done, you can navigate to the Stump service from the homepage and browse the library. You will notice however that the default reader for Stump isnt that great. Although you can use an external pdf reader, what I prefer to do is use OPDS 
</p>
<br>

<p>
So OPDS (Open Publication Distribution System) is a standard that lets us distribute digital media accross a network. This is particularly useful here because a lot of reader applications like Moon+ Reader for Android and Panels for IOS have inbuilt OPDS support. I have a patched Moon+ Reader with no ads that I use for this purpose. So in a reader with OPDS support, in this instance Moon+ Reader you navigate to "Net Library" section and add the SVU Stump OPDS catalog.
</p>
<br>

<pre><code>http://100.72.58.114:10801/opds/v1.2/catalog</code></pre>
<br>

<p>
Once you add this url, you will be prompted for a username and password. After logging in, you can browse the Sanctum library for any kind of resource and directly download them on your favourite local reader to peruse. This is personally the setup I have on multiple devices with Moon+ Reader. You can patch the application to remove ads using <a href="https://www.luckypatchers.com/download/">Lucky Patcher</a> (Looks like scam, but it isn't). If you have sucessfully set this up, now you have a digital library at your disposal, no matter where you go. 
</p>
<br>

<p>
<i>Note: There is a Stump official mobile app currently under development so once that is out, this becomes even more convenient</i>
</p>
<br>

{% endblock %}
